* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    

    
}



header{
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1; 
    opacity: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-line {
    width: 100%;
    height: 5px;
}

.line1 {
    background-color: #ECB009;
}

.line2 {
    background-color: #FFFFFF;
    height: 3px;
}

.line3 {
    background-color: #098D09;
    height: 10px;
}

.navbar {
    background-color: #f5f5f5;
    padding: 10px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    position: fixed; /* Torna a navbar fixa */
    width: 100%; /* Garante que a navbar ocupe toda a largura da tela */
  height: 140px;
  

}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    margin-left: -10px;
    margin-top: 10px; 
}

.logo img {
    width: 150px;
    height: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu a {
    color: #13940e;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #26734D;
    border-radius: 5px;
}

.caixa2 {
    top: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 70px auto;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: left;
}

.texto {
    max-width: 60%;
}

.imagem {
    max-width: 35%;
    text-align: right;
    border-radius: 30%;
}

.imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h1 {
    color: #098D09;
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    color: #ECB009;
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.6;
}
.foto{
justify-content: center;
display: flex;
margin-top: 130px;
position: relative;
top: 170px;
height: auto;
width: 100%;
}

.segurança {
    justify-content: center;
  display: flex;
  position: relative;


 height: auto;
 width: 100%;
  }
  .foto img, .segurança img, .quem-somos img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* A imagem será redimensionada para cobrir toda a área */
}
.mapa {
    border-radius: 4px;
    border-color: #333;
    height: 550px;
    width: 500px;
    background-color: #098D09;
 
    justify-content: left;
    display: flex;
    margin-bottom:130px;
    margin-left: 50px;
    margin-top: 0px;
}
.search-container {
    padding-left: 50px;
    display: flex;
    align-items: center;
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 130px 0 ; /* Espaçamento acima e abaixo */
    width: 300px;
    justify-content: center;
    margin-left: 50px; /* Move a barra 50 pixels para a direita */
    margin-bottom:15px ;
    height: 50px;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
  
    width: 270px; /* Largura reduzida */
    transition: width 0.4s ease-in-out;
}

.search-input:focus {
    width: 300px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}
.graficos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.graficos2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width:400px;
}

.graficos4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos6 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos7 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos8 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos9 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos10 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}


.graficos11 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */

    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos12 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */

    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos13 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */
    
    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.graficos14 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Permite o posicionamento personalizado */
    right: 50px; /* Ajusta a posição à direita */

    background-color: #f9f8f8;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.graficos, .graficos2, .graficos3, .graficos4, .graficos5,
.graficos6, .graficos7, .graficos8, .graficos9, .graficos10,
.graficos11, .graficos12 {
top: -600px;
position: relative;
  margin-top: 5px;;
  left: 70%;
}

.graficos-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    width: 250px; /* Largura da barra de pesquisa */
    transition: width 0.4s ease-in-out;
}

.graficos-input:focus {
    width: 280px; /* Largura da barra de pesquisa ao focar */
}

.graficos-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    margin-left: 5px;

}

.quem-somos {
    display: flex;
    position: relative;
    justify-content: center; /* Centraliza a imagem */
      top:200px;
       width: 100%;}

.quem-somos img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
    height: auto; /* Mantém a proporção da imagem */
}
/* rodape do site blablablablablabla */
.site-footer {
position: relative;
    background-color: white;
    color: #0b0a0a;
    padding: 20px 0;
    margin-top: 50px;
   top: 400px;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
box-shadow: #333;   
  
    
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    text-decoration: none;
 
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #098D09;
    text-decoration:none
    

    
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #060606;
  
    transition: color 0.3s ease;

}

.footer-section ul li a:hover {
    color: #098D09;
    text-decoration: none;
}

.original {
    display: flex;
    gap: 10px;
text-decoration: underline;


}




.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid gray;
    margin-top: 20px;
    font-size: 0.9em;
}
.footer-section1 {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    text-decoration: none;
 
}

.footer-section1 h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #098D09;
    text-decoration:none
    

    
}

.footer-section1 ul {
    list-style: none;
    padding: 0;
}

.footer-section1 ul li {
    margin: 5px 0;
}

.footer-section1 ul li a {
    color: #060606;
  
    transition: color 0.3s ease;

}

.footer-section1 ul li a:hover {
    color: #098D09;
    text-decoration: none;
}
.contato{
        color: #000; /* Define a cor dos links para preto */
        text-decoration: none; /* Remove o sublinhado */
        transition: color 0.3s ease;
    }
    
    .contato a:hover {
        color: #ECB009; /* Cor ao passar o mouse */
    }

    .que-somos{
        top:5000px ;
    }
